.animated{
	animation-duration:1s;
}
.to-right1{
	animation-name:to-right1;
}
.to-right2{
	animation-name:to-right2;
}
.to-right3{
	animation-name:to-right3;
}
.to-right4{
	animation-name:to-right4;
}
.to-left1{
	animation-name:to-left1;
}
.to-left2{
	animation-name:to-left2;
}
.to-left3{
	animation-name:to-left3;
}
.to-left4{
	animation-name:to-left4;
}
.jump-prev{
	animation-name:jump-prev;
}
.jump-middle{
	animation-name:jump-middle;
}
.jump-next{
	animation-name:jump-next;
}
.state(@width,@height,@opacity,@z-index,@margin-top,@left){
	width: @width;
	height: @height;
	opacity: @opacity;
	z-index: @z-index;
	margin-top: @margin-top;
	left:@left;
}
.middle(){
    .state(640px,270px,1,2,0,275px);
}
.left(){
    .state(530px,224px,0.4,1,23px,0);
}
.right(){
    .state(530px,224px,0.4,1,23px,660px);
}
.hide(){
    .state(530px,100px,0,0,85px,-530px);
}
.hide1(){
    .state(530px,100px,0,0,85px,1190px);
}
.middle{
	.middle();
}
.left{
	.left();
}
.right{
	.right();
}
.hide{
	.hide();
}
.jump-state(){
	.state(0,0,0,0,135px,585px);
}
@keyframes jump-prev{
	0% {
		.jump-state();
	}
	100% {  
		.left();
	}
}
@keyframes jump-middle{
	0% {
		.jump-state();
	}
	100% {  
		.middle();
	}
}
@keyframes jump-next{
	0% {
		.jump-state();
	}
	100% {  
		.right();
	}
}
@keyframes to-right1{
	0% {
		.hide();
	}
	100% {  
		.left();
	}
}
@keyframes to-right2{
	0% {
		.left();
	}
	100% {  
		.middle();
	}
}
@keyframes to-right3{
	0% {
		.middle();
	}
	100% {  
		.right();
	}
}
@keyframes to-right4{
	0% {
		.right();
	}
	100% {  
		.hide1();
	}
}
@keyframes to-left1{
	0% {
		.hide1();
	}
	100% {  
		.right();
	}
}
@keyframes to-left2{
	0% {
		.right();
	}
	100% {  
		.middle();
	}
}
@keyframes to-left3{
	0% {
		.middle();
	}
	100% {  
		.left();
	}
}
@keyframes to-left4{
	0% {
		.left();
	}
	100% {  
		.hide();
	}
}