.animated{
	animation-duration:1s;
}
.to-right1{
	animation-name:to-right1;
}
.to-right2{
	animation-name:to-right2;
}
.to-right3{
	animation-name:to-right3;
}
.to-right4{
	animation-name:to-right4;
}
.to-left1{
	animation-name:to-left1;
}
.to-left2{
	animation-name:to-left2;
}
.to-left3{
	animation-name:to-left3;
}
.to-left4{
	animation-name:to-left4;
}
.jump-prev{
	animation-name:jump-prev;
}
.jump-middle{
	animation-name:jump-middle;
}
.jump-next{
	animation-name:jump-next;
}
.middle{
	.middle();
}
.left{
	.left();
}
.right{
	.right();
}
.hide{
	.hide();
}
.state(@width,@height,@opacity,@z-index,@margin-top,@left){
	width: @width;
	height: @height;
	opacity: @opacity;
	z-index: @z-index;
	margin-top: @margin-top;
	left:@left;
}
.middle(){
    .state(640px,270px,1,2,0,275px);
}
.left(){
    .state(530px,224px,0.4,1,23px,0);
}
.right(){
    .state(530px,224px,0.4,1,23px,660px);
}
.hide(){
    .state(530px,100px,0,0,0,-530px);
}
.jump-state(){
	.state(0,0,0,0,135px,585px);
}
@keyframes jump-prev{
	0% {
		.jump-state();
	}
	100% {  
		.left();
	}
}
@keyframes jump-middle{
	0% {
		.jump-state();
	}
	100% {  
		.middle();
	}
}
@keyframes jump-next{
	0% {
		.jump-state();
	}
	100% {  
		.right();
	}
}

@keyframes to-right1{
	0% {
		width: 530px;
		height: 100px;
		opacity: 0;
		left: -530px;
		z-index: 0;
		margin-top: 85px;
	}
	100% {  
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 0;
		z-index: 1;
		margin-top: 23px;
	}
}
@keyframes to-right2{
	0% {
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 0;
		z-index: 1;
		margin-top: 23px;
	}
	100% {  
		width: 640px;
		height: 270px;
		opacity: 1;
		left: 275px;
		z-index: 2;
		margin-top: 0;
	}
}
@keyframes to-right3{
	0% {
		width: 640px;
		height: 270px;
		opacity: 1;
		left: 275px;
		z-index: 2;
		margin-top: 0;
	}
	100% {  
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 660px;
		z-index: 1;
		margin-top: 23px;
	}
}
@keyframes to-right4{
	0% {
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 660px;
		z-index: 1;
		margin-top: 23px;
	}
	100% {  
		width: 530px;
		height: 100px;
		opacity: 0;
		left: 1190px;
		z-index: 0;
		margin-top: 85px;
	}
}
@keyframes to-left1{
	0% {
		width: 530px;
		height: 100px;
		opacity: 0;
		left: 1190px;
		z-index: 0;
		margin-top: 85px;
	}
	100% {  
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 660px;
		z-index: 1;
		margin-top: 23px;
	}
}
@keyframes to-left2{
	0% {
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 660px;
		z-index: 1;
		margin-top: 23px;
	}
	100% {  
		width: 640px;
		height: 270px;
		opacity: 1;
		left: 275px;
		z-index: 2;
		margin-top: 0;
	}
}
@keyframes to-left3{
	0% {
		width: 640px;
		height: 270px;
		opacity: 1;
		left: 275px;
		z-index: 2;
		margin-top: 0;
	}
	100% {  
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 0;
		z-index: 1;
		margin-top: 23px;
	}
}
@keyframes to-left4{
	0% {
		width: 530px;
		height: 224px;
		opacity: 0.4;
		left: 0;
		z-index: 1;
		margin-top: 23px;
	}
	100% {  
		width: 530px;
		height: 100px;
		opacity: 0;
		left: -530px;
		z-index: 0;
		margin-top: 85px;
	}
}